@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/** BOOTSTRAP CUSTOMS **/
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 170%;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.1;
	color: inherit;
	font-weight: 400;
	line-height: 140%;
}
a{color: #B3C833}
a:hover{color: #9DB41F}
.container{position:relative}
.btn{border-radius: 2px;}
.form-control{
	border-radius: 0;
	border-color: #ddd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control:focus{
	border-color: #BFBFBF;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control.input-lg{
	border-width: 3px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #D64040;
}

.has-error .form-control {
  border-color: #D64040;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-error .form-control:focus {
  border-color: #CE3636;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
}

.has-error .input-group-addon {
  color: #D64040;
  background-color: #f2dede;
  border-color: #D64040;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #B3C833;
}

.has-success .form-control {
  border-color: #B3C833;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-success .form-control:focus {
  border-color: #9DB41F;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
}

.has-success .input-group-addon {
  color: #B3C833;
  background-color: #dff0d8;
  border-color: #B3C833;
}


/** STYLING **/
.wrapper{position: relative;}
.clear{clear: both;}

button.btn.btn-default.btn-teplok,
a.btn.btn-default.btn-teplok{
	background-color:#B3C833;
	color: #fff;
	border-color: #B3C833;
}

button.btn.btn-default.btn-teplok:hover,
button.btn.btn-default.btn-teplok:focus,
a.btn.btn-default.btn-teplok:hover,
a.btn.btn-default.btn-teplok:focus{
	background-color:#9DB421;
	border-color: #B3C833;
}
.btn i{margin-right: 5px;}
.btn.btn-distance{margin: 20px 0;}


/** COMING SOON **/
#countdown{
	text-align: center;
	background: rgba(1,1,1,.7);
	padding: 30px;
	margin: 5% auto;
	color: #fff;
}

#countdown .divider{
	width: 100px;
	height: 5px;
	background: #B3C833;
	margin: 0 auto 30px;
}

#countdown h1.logo{
	font-size: 32px;
	line-height: 100%;
	padding: 0;
	margin: 0;
	font-weight: 700;
	letter-spacing: -1px;
	display: block;
}
#countdown h1.logo i{color: #B3C833;}

#countdown h1{
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-size:40px;
	font-weight: 300;
}
#countdown h1 .notif{
	display: block;
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
}
#countdown h1 .days,
#countdown h1 .hours,
#countdown h1 .minutes,
#countdown h1 .seconds{
	font-weight: 600;
	color: #B3C833;
}

#countdown .social-icons{
	padding: 5px;
}
#countdown .social-icons img{
	width: 35px;
	margin: 2px;
}